<launch>
  <node pkg="rosservice" type="rosservice" name="killWheel" args="call /gazebo/delete_model Wheel" />
  <node pkg="rosservice" type="rosservice" name="pauPhy" args="call /gazebo/pause_physics" />
  <param name="robot_description" command="$(find xacro)/xacro $(find Wheel_description)/urdf/Wheel.xacro" />
  <!-- <include file="$(find Wheel_description)/launch/controller.launch" /> -->
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="2 Wheel_description spawnCar.launch"
    name="timed_roslaunch" output="screen" />
  <!-- <node name="imu_data" pkg="Wheel_description" type="imu_data.py" respawn="true" output="screen"/> -->
</launch>
